/* Clear */
[class*="col-"] {
  width: 100%;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Banner */
.imgbanner {
  width: 100%;
  height: 100%;
}
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-family: 'Zilla Slab', serif;
}
.header a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-weight: 500;
  font-size:22px;
}
.text {
  color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 263px;
  left: 80px;
  font-family: "Lora", serif;
}
.text_ {
  font-size: 70px;
}

/* căn chỉnh header */
/* bên trái */
.left {
  display: flex;
  margin-left: 80px;
}
.left-browser,
.left-brand {
  margin: 20px;
}

/* bên phải */
.right {
  display: flex;
  margin-right: 80px;
}
.right-signup,
.right-login,
.right-help {
  margin: 20px;
}

/* Footer */
footer {
  background-color: #f7f7f7;
}
.footer {
  width: 100%;
  background-color: #f7f7f7;
  display: flex;
  justify-content: space-around;
}
.footer a {
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  font-family: 'Zilla Slab', serif;
  color: #3093a7;
}
.footer p {
  font-size: 25px;
  font-family: 'Zilla Slab', serif;
  margin-bottom: 30px;
  font-weight: 500;
}
.footer h3 {
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 20px;
  margin-top: 50px;
  font-family: "Lato", sans-serif;
}
.footer_first {
  margin-left: 30px;
  margin-bottom: 80px;
}
.footer_secon {
  margin-left: 30px;
  margin-bottom: 80px;
}
.footer_end {
  margin-left: 15px;
  margin-bottom: 80px;
}

/* midle */
.midle {
  background-color: #efefef;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

/* header_midle */
.header_midle {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 25px;
  font-weight: 800;
  /* font-family: "Lato", sans-serif; */
  margin-left: 80px;
  padding-top: 40px;
  margin-bottom: 20px;
}
.header_midle p {
  margin-top: 20px;
}

/* img_midle */
.img_midle {
  display: flex;
  justify-content: space-around;
  margin-bottom: 60px;
  margin-top: 60px;
}
.img_midle img {
  width: 105%;
  height: 105%;
}
.img_left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 33.3%;
  margin-left: 80px;
  margin-right: 80px;
}

.img_left_1,
.img_left_2 {
  margin-bottom: 55px;
}

.img_mid {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 33.3%;
}
.img_right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 33.3%;
  margin-right: 105px;
  margin-left: 80px;
}
